.section {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0;
}

.section-left {
  flex: 1;
  padding: 0 0.75rem;
}
.section-right {
  flex: 1;
}
.section-right img {
  width: 100%;
  /* padding: 0 4rem; */
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.hero-btns button {
  padding: 1rem 24px;
}

/* buy-floki */
.buy-floki {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy-left {
  text-align: center;
  width: 500px;
}
.buy-right {
  flex: 1;
  max-width: 400px;
}

.how-to-img {
  width: 370px;
}
.buy-left-youtube-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.youtube-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  gap: 1rem;

  font-size: 14px;
  font-weight: 700;
  color: #7957d5;
  cursor: pointer;
  text-decoration: none;
}

.youtube-btns img {
  width: 40px;
  max-width: none;
  height: 40px;
}

.hold-tweet-wrapper {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.hold-tweet-wrapper img {
  position: absolute;
  display: block;
  position: absolute;
  top: -159px;
  right: 0;
  width: 150px;
  max-width: none;
  /* height: 180px; */
  object-fit: contain;
}

.hold-last-title {
  margin-bottom: 190px;
}

.audit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.audit-left {
  flex: 1;
}
.audit-right {
  flex: 1;
}

.audit-right {
  padding: 40px 48px 40px;
  box-shadow: 25px 22px 0 #ffedd1;
  border: 1px solid #e6eaee;
  font-size: 1.2em;
  border-radius: 6px;
}

.audit-finance {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.audit-finance-icon {
  width: 60px;
  max-width: none;
  height: 60px;
}

.moonsheet-phases {
  display: flex;
  gap: 1.5rem;
}

/* team-cards */
.team-cards {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* faq-accordions */
.faq-accordions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.faq-accordions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* egg-gallery */
.egg-gallery {
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.egg-gallery.column-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.egg-gallery img {
  width: 100%;
}

/* cube-gallery */

.cube-gallery {
  max-width: 400px;
  height: 400px;
}

.cube-gallery img {
  width: 100%;
}

@media (max-width: 1000px) {
  .section {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

@media (max-width: 800px) {
  .buy-floki {
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: unset;
    flex-direction: column;
    gap: 3rem;
  }

  .buy-right {
    min-width: 100% !important;
  }

  .hold > p {
    text-align: left;
  }

  .hold-tweet-wrapper {
    width: 100%;
  }
  .hold-tweet-wrapper iframe {
    width: 100% !important;
  }

  .audit {
    flex-direction: column;
    gap: 2rem;
  }

  .audit-left {
    width: 100%;
  }
  .audit-left.px-48px {
    padding: 0 !important;
  }

  .audit-right {
    margin-right: 2rem;
  }

  .TEAM-wrapper > p {
    text-align: left;
  }

  .team-cards {
    flex-direction: column;
  }

  .faq-wrapper > p {
    text-align: left;
  }

  .faq-accordions-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .hero-btns {
    flex-direction: column-reverse;
  }

  .hero-btns button {
    width: 100%;
  }

  .audit-left button {
    width: 100%;
  }

  .moonsheet-phases {
    flex-direction: column;
    gap: 2rem;
  }

  .moonsheet-wrapper > p {
    text-align: left;
  }
}

@media (max-width: 500px) {
  .egg-gallery {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .egg-gallery.column-3 {
    grid-template-columns: 1fr 1fr;
  }
}
